<div class="realTimeContainer">
    <div class="listContainer">
        <h1 class="listTitle">Lista de productos tiempo real :</h1>
        <div class="prodContainer">
        </div>
    </div>
</div>
<script src="./socket.io/socket.io.js"></script>
<script  src="./js/realtimeProductsSocket.js"></script>