<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/{{style}}">
    <title>SportStore</title>
  </head>
  <body>
    <nav class="navbar">
      <p class="logo">Sport Store</p>
      <ul class="navbarList">
        <li><a href="/">Inicio</a></li>
        <li><a href="/products">Productos</a></li>
        <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
        <li><a href="/chat">Ayuda</a></li>
        <li><a href="">Iniciar sesion</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>